<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>CosmosCJ/宇宙</string>
	<key>Description</key>
	<string>El Capitan v1</string>
	<key>Theme</key>
	<dict>
		<key>Anime</key>
		<array>
			<dict>
				<key>FrameTime</key>
				<integer>100</integer>
				<key>Frames</key>
				<integer>50</integer>
				<key>ID</key>
				<integer>1</integer>
				<key>Path</key>
				<string>logo_3D</string>
			</dict>
			<dict>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>64</integer>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>44</integer>
				<key>Frames</key>
				<integer>1</integer>
				<key>ID</key>
				<integer>3</integer>
				<key>NudgeX</key>
				<integer>2</integer>
				<key>NudgeY</key>
				<integer>-5</integer>
				<key>Path</key>
				<string>func_help</string>
				<key>ScreenEdgeX</key>
				<string>right</string>
				<key>ScreenEdgeY</key>
				<string>top</string>
			</dict>
			<dict>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>64</integer>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>44</integer>
				<key>Frames</key>
				<integer>1</integer>
				<key>ID</key>
				<integer>4</integer>
				<key>NudgeX</key>
				<integer>2</integer>
				<key>NudgeY</key>
				<integer>-5</integer>
				<key>Path</key>
				<string>func_options_big</string>
				<key>ScreenEdgeX</key>
				<string>right</string>
				<key>ScreenEdgeY</key>
				<string>top</string>
			</dict>
			<dict>
				<key>DistanceFromScreenEdgeX%</key>
				<integer>64</integer>
				<key>DistanceFromScreenEdgeY%</key>
				<integer>44</integer>
				<key>Frames</key>
				<integer>1</integer>
				<key>ID</key>
				<integer>14</integer>
				<key>NudgeX</key>
				<integer>2</integer>
				<key>NudgeY</key>
				<integer>-5</integer>
				<key>Path</key>
				<string>14_Themes</string>
				<key>ScreenEdgeX</key>
				<string>right</string>
				<key>ScreenEdgeY</key>
				<string>top</string>
			</dict>
		</array>
		<key>Background</key>
		<dict>
			<key>Path</key>
			<string>JohnMac.png</string>
			<key>Type</key>
			<string>Scale</string>
		</dict>
		<key>Badges</key>
		<dict>
			<key>Inline</key>
			<false/>
			<key>Show</key>
			<true/>
			<key>Swap</key>
			<true/>
		</dict>
		<key>Banner</key>
		<string></string>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>23</integer>
			<key>Path</key>
			<string>font.png</string>
			<key>Proportional</key>
			<true/>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>Selection_big.png</string>
			<key>Color</key>
			<string>0x00000065</string>
			<key>Small</key>
			<string>Selection_small.png</string>
		</dict>
	</dict>
	<key>Year</key>
	<string>2015</string>
</dict>
</plist>